<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{stylesheet}}">

    <title>{{title}}</title>
</head>

<body>
    <nav><a href="index.html">Home</a></nav> {{{md_content}}}
</body>

</html>
